<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class = "navbar-brand" href="/welcome">CryptoLab</a>
		</div>
		<ul class = "nav navbar-nav">
			<li ><a href="/welcome">Welcome</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/signup">Register</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href=""><%= current_user.name%></a></li>
			<li><a href="/logout">Logout <span class="glyphicon glyphicon glyphicon-log-out"></span></a></li>
		</ul>
	</div>

</nav>
<div class="container">
	<h4>Welcome back, <%= current_user.name %> ! You are a member since <%=	current_user.created_at %>.</h4>
</div>
